[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
pyaml = "*"
"e1839a8" = {path = ".", editable = true}
python-dateutil = "*"
"ruamel.yaml" = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-sugar = "*"
pytest-mock = "*"
pytest-click = "*"
sniffer = "*"
macfsevents = "*"
"flake8" = "*"
"flake8-quotes" = "*"
"flake8-isort" = "*"

[requires]
python_version = "3.6"
